body{
    /* background: linear-gradient(to right, rgb(103, 58, 183), rgb(81, 45, 168)); */
    background: linear-gradient(to right,#0c215f, #020730);
}
.title_row_1{
    text-align: center;
}
.button_row_2{
    margin: 2% 2%;
    padding: 2% 2%;
}
.image_row_3{
    position: relative;
    width: 100%;
	height: 270px;
	border-radius: 10px;
	background: #FFFFFF;
    margin: 1% auto;
}
.name{
    color: #ffffff;
	text-align: center;
	font-family: "微软雅黑";
	position: relative;
    /*top: 20%;*/
	width: 100%;
    margin: auto 0px;
    line-height: 50px;
    font-size: 50px;
	height: 20px;
    margin-top: 20px;
    margin-bottom: 50px;
}
.img_div{
    width: 5%;
    margin-top: 0.5%;
    padding-right: 10px;
    padding-left: 10px;
	height: 170px;
	overflow:hidden;
	border-radius: 20px;
	float: left;
	position: relative;
}
.button_div{
    position: relative;
    margin-top: 1%;
    width: 100%;
}
.btn-success{
    text-align: center;
    position: relative;
    margin: auto auto;
    padding: 6px 10%;
	border-radius: 10px;
	border: none;
	color: #FFFFFF;
    background: linear-gradient(to right, rgb(138, 35, 135), rgb(233, 64, 87), rgb(242, 113, 33));
}
.content_div{
    position: relative;
    margin-left: 1%;
    width:100%;
    height:400px;
}

.scroll{
    width: 100%;
    height: 210px;
    overflow-x:scroll;
}

.img_style{
    height: 80%;
    width: 80%;
}