<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
        <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    
        <link rel="stylesheet"  href="{{ url_for('static', filename='css/video.css') }}">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>视频风格迁移</title>
    </head>
<body>
    
      <div class="container-fluid">
            <div class="row">
                    <nav class="navbar navbar-inverse "  style="height: 80px;margin-bottom: 0px;">
                  
                          <div class="container">
                              <div class="row">
                                   
                                        <div  class="col-md-3" margin-top:10px;><img class="second-slide" style="height: 80px;width: 130%;" src="{{ url_for('static', filename='img/logo.svg') }}"><br></div>
                                        <div class="col-md-2"></div>
                                        <div  class="col-md-7"  style="margin-top:15px;">
                                        <div class="navbar-header">
                                          <a class="navbar-brand"  href="{{ url_for('index') }}">主 页</a>
                                        </div>
                                        <div id="navbar" class="collapse navbar-collapse">
                                          <ul class="nav navbar-nav">
                                            <li><a href="{{ url_for('real_time_transfer') }}">摄像头风格迁移</a></li>
                                            <li ><a href="{{ url_for('single_image_transfer') }}">单风格图像风格迁移</a></li>
                                            <li ><a href="{{ url_for('muilt_image_transfer') }}">多风格融合快速迁移</a></li>
                                            <li ><a href="{{ url_for('video_transfer') }}">视频风格迁移</a></li>
                                            <!-- <li><a href="train.html">视频风格训练</a></li> -->
                                          </ul>
                                        </div><!--/.nav-collapse -->
                                        </div>
                            </div>
                          </div>
                     </nav>
              </div>
        <div class="row">
            <div class="col-md-12">
                <div class="title_row_1 name" style="height: 0px;">
                    <h1>风格融合与快速迁移 <small>视频风格迁移</small></h1>
                </div>
            </div>
        </div>
            <div class="row image_row_3">
                <div class="col-md-1"></div> 
                <div class="col-md-10 container-fluid">
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-8 button_div">
                              
                                <form class="form-inline"  id="uploadForm">
                                    
                                    <button type="button" class="btn btn-default btn-success" id="openfile" style="margin-left: 11%;">打开视频</button>
                                    <button class="btn btn-default btn-success" type="button" onclick="downloadImg()" style="margin-left: 6%;">截图保存</button>
                                    <div class="form-group">
                                            <input type="file" id="inputfile" name="inputfile" style="opacity: 0" hidden>
                                        </div>
                                </form>
                          
                        </div>
                            
                            <div class="col-md-2"></div> 
                        </div>
                            <div class="scroll">
                                <div class="row" style="position:relative;width: 290%;">
                                    <div class="col-md-1 img_div"><img src="{{ url_for('static', filename='img/1.png') }}" alt="..." class="img-thumbnail img-responsive center-block img_ho img_style" onclick="fun(1)"></div>
                                    <div class="col-md-1 img_div"><img src="{{ url_for('static', filename='img/2.png') }}" alt="..." class="img-thumbnail img-responsive center-block img_ho img_style" onclick="fun(2)"></div>
                                    <div class="col-md-1 img_div"><img src="{{ url_for('static', filename='img/3.png') }}" alt="..." class="img-thumbnail img-responsive center-block img_ho img_style" onclick="fun(3)"></div>
                                    <div class="col-md-1 img_div"><img src="{{ url_for('static', filename='img/4.png') }}" alt="..." class="img-thumbnail img-responsive center-block img_ho img_style" onclick="fun(4)"></div>
                                    <div class="col-md-1 img_div"><img src="{{ url_for('static', filename='img/5.png') }}" alt="..." class="img-thumbnail img-responsive center-block img_ho img_style" onclick="fun(5)"></div>
                                    <div class="col-md-1 img_div"><img src="{{ url_for('static', filename='img/6.png') }}" alt="..." class="img-thumbnail img-responsive center-block img_ho img_style" onclick="fun(6)"></div>
                                    <div class="col-md-1 img_div"><img src="{{ url_for('static', filename='img/7.png') }}" alt="..." class="img-thumbnail img-responsive center-block img_ho img_style" onclick="fun(7)"></div>
                                    <div class="col-md-1 img_div"><img src="{{ url_for('static', filename='img/8.png') }}" alt="..." class="img-thumbnail img-responsive center-block img_ho img_style" onclick="fun(8)"></div>
                                    <div class="col-md-1 img_div"><img src="{{ url_for('static', filename='img/9.png') }}" alt="..." class="img-thumbnail img-responsive center-block img_ho img_style" onclick="fun(9)"></div>
                                    <div class="col-md-1 img_div"><img src="{{ url_for('static', filename='img/10.png') }}" alt="..." class="img-thumbnail img-responsive center-block img_ho img_style" onclick="fun(10)"></div>
                                    <div class="col-md-1 img_div"><img src="{{ url_for('static', filename='img/11.png') }}" alt="..." class="img-thumbnail img-responsive center-block img_ho img_style" onclick="fun(11)"></div>
                                    <div class="col-md-1 img_div"><img src="{{ url_for('static', filename='img/12.png') }}" alt="..." class="img-thumbnail img-responsive center-block img_ho img_style" onclick="fun(12)"></div>
                                    <div class="col-md-1 img_div"><img src="{{ url_for('static', filename='img/13.png') }}" alt="..." class="img-thumbnail img-responsive center-block img_ho img_style" onclick="fun(13)"></div>
                                    <div class="col-md-1 img_div"><img src="{{ url_for('static', filename='img/14.png') }}" alt="..." class="img-thumbnail img-responsive center-block img_ho img_style" onclick="fun(14)"></div>
                                    <div class="col-md-1 img_div"><img src="{{ url_for('static', filename='img/15.png') }}" alt="..." class="img-thumbnail img-responsive center-block img_ho img_style" onclick="fun(15)"></div>
                                    <div class="col-md-1 img_div"><img src="{{ url_for('static', filename='img/16.png') }}" alt="..." class="img-thumbnail img-responsive center-block img_ho img_style" onclick="fun(16)"></div>
                                    <div class="col-md-1 img_div"><img src="{{ url_for('static', filename='img/17.png') }}" alt="..." class="img-thumbnail img-responsive center-block img_ho img_style" onclick="fun(17)"></div>
                                    <div class="col-md-1 img_div"><img src="{{ url_for('static', filename='img/18.png') }}" alt="..." class="img-thumbnail img-responsive center-block img_ho img_style" onclick="fun(18)"></div>
                                    <div class="col-md-1 img_div"><img src="{{ url_for('static', filename='img/19.png') }}" alt="..." class="img-thumbnail img-responsive center-block img_ho img_style" onclick="fun(19)"></div>
                                    <div class="col-md-1 img_div"><img src="{{ url_for('static', filename='img/20.png') }}" alt="..." class="img-thumbnail img-responsive center-block img_ho img_style" onclick="fun(20)"></div>
                                </div>
                            </div>
                </div>
                <div class="col-md-1"></div> 
            </div> 
            <div class="row" style="margin-top:20px ;">
                    <div class="col-md-2"></div>
                    <div class="col-md-4">
                            <div class="row">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-10 video" >
                                        <canvas id="transfer_video" style="height: 400px;" class="img-thumbnail img-responsive">
                                            <video id="content_video" style="height: 400px;" autoplay class="img-thumbnail img-responsive">
                                                <source src="" type="video/mp4">
                                            </video>
                                        </canvas>
                                    </div>
                                    <div class="col-md-1"></div>
                            </div>
                    </div>
                    <div class="col-md-4">
                            <div class="row"></div>
                                    <div class="col-md-1"></div>
                                    <div class="col-md-10" >
                                        <div><img src="{{ url_for('static', filename='img/photo.jpg') }}" alt="..." style="height: 400px;" id="transfer_video1"  class="img-thumbnail img-responsive"></div>
                                    </div>
                                    <div class="col-md-1"></div>
                            </div>
                    </div>
                    <div class="col-md-2"></div>
            </div>
        </div>
        <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                   <hr class="featurette-divider"   style="margin: 30px 0;">
             <!-- FOOTER -->
                    <footer>
                    <p class="pull-right"><a href="{{ url_for('index') }}">Back to index</a></p>
                    <p style="color: aliceblue;">&copy; 2019 中国科学技术大学苏州研究院 超级计算中心 风格迁移小组</p>
                   </footer>
               </div>
               <div class="col-md-2"></div>
           </div>
      </div>
</body>
<script type="text/javascript">
function downloadImg(){
            var img = document.getElementById('transfer_video1'); // 获取要下载的图片
            console.log("11111111111111");
            var url = img.src;                            // 获取图片地址
            var a = document.createElement('a');          // 创建一个a节点插入的document
            var event = new MouseEvent('click')           // 模拟鼠标click点击事件
            a.download = 'transfer_image'                  // 设置a节点的download属性值
            a.href = url;                                 // 将图片的src赋值给a节点的href
            a.dispatchEvent(event);                       // 触发鼠标点击事件
    }


        var c = document.getElementById("transfer_video");
		var canvas = c.getContext("2d");
		var img = new Image();
		img.src = "{{ url_for('static', filename='img/photo0.jpg') }}";
		canvas.drawImage(img,0,0,300,150);

    $("#openfile").click(function () {
            $("#inputfile").click();
        });

    var file=$("#inputfile");
    file.change(function () {
        $("#content_video").attr("src",getObjectURL(file[0].files[0]));
        func1();
    });

    

    function convertBase64UrlToBlob(urlData){
        var bytes=window.atob(urlData.split(',')[1]);        //去掉url的头，并转换为byte
        //处理异常,将ascii码小于0的转换为大于0
        var ab = new ArrayBuffer(bytes.length);
        var ia = new Uint8Array(ab);
        for (var i = 0; i < bytes.length; i++) {
            ia[i] = bytes.charCodeAt(i);
        }
        return new Blob( [ab] , {type : 'image'});
    }

    function transfer() {
        //插入图像处理
        var aVideo = document.getElementById('content_video');
        var acanvas = document.getElementById('transfer_video');
        var ctx = acanvas.getContext('2d')
        ctx.drawImage(aVideo,0,0,300,150); //将获取视频绘制在画布上k
        acanvas = acanvas.toDataURL('jpeg');
        var formDate = new FormData();
        formDate.append('inputfile', convertBase64UrlToBlob(acanvas));
		$.ajax({
            url:"/up_file",
            type:"POST",
            data:formDate,
            processData:false,
            contentType:false,
            success: function (data) {
                console.log("nihao");
                $("#transfer_video1").attr("src",'data:image/png;base64,'+data);
            }
        })
    }


    //交互计时
    var interval = null;//计时器
    function func1(){
        //启动计时器函数
        if(interval!=null){//判断计时器是否为空
            clearInterval(interval);
            interval=null;
        }
        interval = setInterval(transfer,3000);//启动计时器，调用overs函数，       
    }
    
    //迁移参数交互
    function fun(a){
        $(".img_div").css("border","");
        var js = document.getElementsByClassName('img_div')[a-1];
        js.style.border = '3px solid rgb(81, 45, 168)';
        console.log(a);
        var a=a;
        $.ajax({
        url:"/up_a",
        type:"POST",
        data:{'a1':a},
        dataType:'json',
        success: function (data) {
            console.log("nihao");
        }
        })
    }

    function getObjectURL(file) {
        var url = null;
       /* window.URL = window.URL || window.webkitURL;*/

        if (window.createObjcectURL != undefined) {
            url = window.createOjcectURL(file);
        } else if (window.URL != undefined) {
            url = window.URL.createObjectURL(file);
        } else if (window.webkitURL != undefined) {
            url = window.webkitURL.createObjectURL(file);
        }
        return url;
    }
//     $(document).ready(function(){  
//      fun(1);//执行函数
// });     
</script>
</html>